main {
  padding-bottom: 100px;
}

.show-when-plotting {
  display: none
}

a {
  color: #be202e
}

.dropdown-toggle::after {
    display:none;
}

/* override jumbotron default padding of 4rem 2rem */
.jumbotron {
    padding: 1rem 2rem;
}
