main {
  padding-bottom: 100px;
}

.center {
  margin: auto;
}

.hide-before-plot-shown {
  display: none
}

.pad-bottom {
    padding-bottom: 10px;
}

.pad-top {
    padding-top: 10px;
}

a {
  color: #be202e
}
