<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!--  required meta tags for bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DNA Visualization</title>
  <script>
    // to tell the JS whether developing locally or on AWS
    var route = '{{ route }}';
  </script>
  <!-- bootstrap css should before all other css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',  filename='css/home.css')}}">

</head>

<body>
  <main>

    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="/">
        <img style="max-height: 4vw;" src="{{ url_for('static', filename='images/logo.svg') }}" class="d-inline-block align-top" alt="">
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-left" id="navbarsCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#lab41">Lab41</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#citation">Citation</a>
          </li>
        </ul>
      </div>
    </nav>
    <!--  /nav bar -->

    <!--  content goes in the container, then into cols that are in a row -->

    <div class="container">
      <!-- Show an error if JS is not enabled -->

      <noscript>
        <div class="alert alert-danger" role="alert">
          You need to enable JavaScript to run this app.
        </div>
      </noscript>
      <div class="jumbotron jumbotron-fluid hide-when-plotting" style="background:transparent !important">
        <div class="container">
          <h1 class="display-4">Squiggle</h1>
          <p class="lead">
            Suiggle is a two-dimensional DNA sequence visualization library that
            can turn FASTA sequence files into gorgeous, interactive
            visualizations.
          </p>
        </div>
      </div>

      <div class="row">
        <!--  FYI, col should always be a row! -->
        <div class="col center">
          <!--  This is the plot, it is not visible until the user uploads a fasta file -->
          <div id="hg-container" style="width:100%; height:600px; display: none;" class="pad-bottom center"></div>
        </div>
      </div>

      <!--the file adding section -->
      <div class="row border bg-light rounded-top border-bottom-0 pad-top">
        <div class="col-12">
          <div class="row pad-top">
            <div class="col-lg-8 offset-lg-1">
              <div class="input-group mb-3">
                <div class="custom-file" id="dropzone">
                  <input type="file" class="custom-file-input" id="file-input" multiple accept=".fa,.fasta,.fna,.txt">
                  <label class="custom-file-label"><i class="fas fa-file"></i> Choose FASTA file or drop anywhere on page...</label>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <!-- <div class="pad-top"> -->
              <button type="button" class="btn btn-outline-secondary btn-block" id="paste-sequence"><i class="fas fa-paste"></i> Paste FASTA</button>

              <!-- </div> -->
            </div>
          </div>
          <div class="row pad-top">
            <div class="col-lg-10 offset-lg-1 hide-when-plotting">
              <button type="button" class="btn btn-outline-secondary btn-block hide-when-plotting" id="load-example"><i class="fas fa-dna"></i> Load an example file</button>
            </div>
          </div>

        </div>


      </div>

      <!-- the control section -->
      <div class="row bg-light border rounded-bottom border-top-0" id="controls">

        <!-- the viz method -->
        <div class="container center pad-top pad-bottom hide-when-plotting">
          <!-- control the viz method -->
          <div class="row" id="method">
            <div class="row center">
              <label for="method">Visualization Method</label>
            </div>
          </div>
          <div class="row center">
            <div class="btn-group btn-group-toggle center" name="method" data-toggle="buttons">
              <label class="btn btn-outline-secondary active" data-toggle="tooltip" data-placement="top" title="(Recommended) Fast and acyclic. Shows variations in GC-content and supports non-ATGC bases.">
                <input type="radio" name="method" id="squiggle" autocomplete="off" checked>Squiggle
              </label>
              <!-- <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="As, Ts, Cs, and Gs as up, down, left and right, respectively. Cyclic. No support for non-ATGC bases.">
                <input type="radio" name="method" id="gates" autocomplete="off">Gates
              </label> -->
              <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Bases plotted along a unit vector. <var>x</var>-coordinates do not map to base position. No support for non-ATGC bases.">
                <input type="radio" name="method" id="yau" autocomplete="off">Yau
              </label>
              <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Same as Yau but projected such that all vectors have lengths in the <var>x</var>-axis of 1 (so that <var>x</var>-coordinates are the same as base positions). No support for non-ATGC bases.">
                <input type="radio" name="method" id="yau-bp" autocomplete="off">Yau-BP
              </label>
            </div>
          </div>
        </div>

        <!-- viz controls during plotting -->
        <div class="container center pad-bottom hide-before-plot-shown" id="mode">
          <div class="row">
            <div class="col-4">

              <div class="row" id="mode">
                <div class="row center">
                  <label for="method">Legend Mode</label>
                </div>
              </div>
              <div class="row center">
                <div class="btn-group btn-group-toggle center" name="mode" data-toggle="buttons">
                  <label class="btn btn-outline-secondary active" data-toggle="tooltip" data-placement="top" title="(Recommended) Automatically decide between file and sequence mode.">
                    <input type="radio" name="mode" id="auto" autocomplete="off" checked>Auto
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Plot each file in its own color.">
                    <input type="radio" name="mode" id="file" autocomplete="off">File
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Plot each sequence in its own color.">
                    <input type="radio" name="mode" id="sequence" autocomplete="off">Sequence
                  </label>
                </div>
              </div>
            </div>
            <div class="col-4">

              <div class="row" id="mode">
                <div class="row center">
                  <label for="method">Legend Mode</label>
                </div>
              </div>
              <div class="row center">
                <div class="btn-group btn-group-toggle center" name="mode" data-toggle="buttons">
                  <label class="btn btn-outline-secondary active" data-toggle="tooltip" data-placement="top" title="(Recommended) Automatically decide between file and sequence mode.">
                    <input type="radio" name="mode" id="auto" autocomplete="off" checked>Auto
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Plot each file in its own color.">
                    <input type="radio" name="mode" id="file" autocomplete="off">File
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Plot each sequence in its own color.">
                    <input type="radio" name="mode" id="sequence" autocomplete="off">Sequence
                  </label>
                </div>
              </div>
            </div>
            <div class="col-4">

              <div class="row justify-content-center" id="mode">
                <div class="col text-center">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <label for="method">Zoom <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Drag on a region to zoom in and click below to zoom out. Loading the data may take a few moments."></i></label>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" id="zoom-out" onclick="zoom(0.5)"><i class="fas fa-search-minus"></i></button>
                        <button type="button" class="btn btn-outline-secondary" id="reset-zoom" onclick="resetChart()">Reset</button>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>


      <div class="row">
        <div class="col">
          <h2 id="about">About</h2>
          <p> Squiggle is a two-dimensional DNA sequence visualization library that can turn FASTA sequence files into gorgeous, interactive visualizations. Use the form above to upload your FASTA file ..... lots more text. Info about privacy
            somewhere on the page. </p>
          <h2 id="lab41">A Lab41 Project</h2>
          <a href="https://lab41.org"><img src="{{ url_for('static', filename='images/Lab41.eps') }}" height="75" style="float:right;padding-left: 6px;"></a>
          <p>In-Q-Tel (IQT) is the not-for-profit strategic investor for the Central Intelligence Agency and the broader U.S. Intelligence Community (IC). Founded in 1999, IQT connects government, startups, and the venture capital community to
            accelerate innovation to further the IC mission. </p>
          <p>IQT Labs represent strategic initiatives established to explore new and disruptive technologies, uncover solutions, and demonstrate the art of the possible in a variety of technology areas. Lab41 is a Silicon Valley research lab where
            experts from the IC, academia, industry, and IQT come together to gain a better understanding of how to work with – and ultimately use – data analytics.</p>
        </div>
        <div class="row">
          <div class="col">
            <h2 id="citation">Citation</h2>
            <p>If you use Squiggle, please cite the following paper <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/bty807/5104938?guestAccessKey=306f0370-1281-428b-aa8a-757d3c49d801">(full text)</a>:</p>
            <ul>
              <li> Lee, B. D. (2018). Squiggle: a user-friendly two-dimensional DNA sequence visualization tool. <span style="font-style: italic">Bioinformatics</span>. doi:<a href="https://doi.org/10.1093/bioinformatics/bty807">10.1093/bioinformatics/bty807</a>.</li>

            </ul>
            <p>Or, if BibTeX is more your style:</p>
            <pre>
          @article{Lee2018,
            doi = {10.1093/bioinformatics/bty807},
            url = {https://doi.org/10.1093/bioinformatics/bty807},
            year  = {2018},
            month = {sep},
            publisher = {Oxford University Press ({OUP})},
            author = {Benjamin D Lee},
            editor = {John Hancock},
            title = {Squiggle: a user-friendly two-dimensional {DNA} sequence visualization tool},
            journal = {Bioinformatics}
          }
        </pre>
          </div>
        </div>
      </div><!--  /container -->
  </main>

  <footer class="footer py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy;2018 IQT Labs LLC, a wholly owned research venture of <a class="text-muted" href="https://iqt.org">In-Q-Tel, Inc.</a> This content is released under <a class="text-muted" href="https://github.com/Benjamin-Lee/squiggle-server/blob/master/LICENSE">
          the Apache 2.0 License.</a></span>
    </div>
  </footer>

  <!-- placed at bottom to speed page loading -->
  <!-- polyfill first -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--  bootstrap requirements -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/export-data.js"></script>

  <!-- other utilities -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>

  <!-- locally hosted scripts -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/filereader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/xxhash.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/reformat.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootbox5-beta.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dragster.js') }}"></script>


  <!-- last, load the JS for the page -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/hbb.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>


</body>

</html>