<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <!--  required meta tags for bootstrap -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>DNAvisualization.org</title>
  <script>
    // to tell the JS whether developing locally or on AWS
    var route = '{{ route }}';
  </script>
  {% if STAGE == "production" %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128489917-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-128489917-2');
  </script>
  {% endif %}
  <!-- bootstrap css should before all other css -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="{{url_for('static',  filename='css/home.css')}}">
  <link rel="stylesheet" href="{{url_for('static',  filename='css/floating-labels.css')}}">


</head>

<body>
  <main>
    <!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
      <a class="navbar-brand" href="/">
        <!-- <img style="max-height: 4vw;" src="{{ url_for('static', filename='images/logo.svg') }}" class="d-inline-block align-top" alt=""> -->
        DNAvisualization.org
      </a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsCollapse" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-md-left" id="navbarsCollapse">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#instructions">Instructions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#lab41">Lab41</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#architecture">Architecture</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#citation">Citation</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
        <a class="btn btn-outline-secondary" href="https://github.com/Benjamin-Lee/DNAvisualization.org/issues/new?assignees=&labels=bug&template=bug_report.md&title="><i class="fas fa-bug"></i> Report a bug</a>


      </div>
    </nav>
    <div class="container">
      <!-- Show an error if JS is not enabled -->
      <noscript>
        <div class="alert alert-danger" role="alert">
          You need to enable JavaScript to run this app.
        </div>
      </noscript>
      <div class="jumbotron jumbotron-fluid hide-when-plotting" style="background:transparent !important">
        <div class="container">
          <!-- responsive rendering for the jumbotron -->
          <span class="d-none d-md-block">
            <h1 class="display-4">Turn <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/emojipedia/132/dna-double-helix_1f9ec.png" alt="">into <span class="align-middle" style="font-size:200%">📈</span>.</h1>
          </span>
          <span class="d-block d-md-none">
            <h1 class="display-4">Turn <img class="w-25" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/emojipedia/132/dna-double-helix_1f9ec.png" alt=""></h1>
            <h1 class="display-4">into <span class="align-middle w-25">📈</span>.</h1>
          </span>
          <p class="lead">
            DNAvisualization.org turns DNA sequences into gorgeous, interactive
            two-dimensional visualizations to enable their exploration.
          </p>
        </div>
      </div>
      <div class="row">
        <!--  FYI, col should always be a row! -->
        <div class="col" align="center">
          <!--  This is the plot, it is not visible until the user uploads a fasta file -->
          <div id="hg-container" style="width:100%; height:600px;" class="show-when-plotting pad-bottom pad-top center"></div>
        </div>
      </div>
      <!--the file adding section -->
      <div class="row border bg-light rounded-top border-bottom-0 pad-top">
        <div class="col-12">
          <div class="row pad-top">
            <div class="col-lg-8 offset-lg-1">
              <div class="input-group mb-3">
                <div class="custom-file" id="dropzone">
                  <input type="file" class="custom-file-input" id="file-input" multiple accept=".fa,.fasta,.fna,.txt">
                  <label class="custom-file-label"><i class="fas fa-file"></i> <span class="d-none d-sm-inline">Choose FASTA file or drop anywhere on page...</span><span class="d-xs-inline d-sm-none">Choose FASTA file...</span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-2">
              <button type="button" class="btn btn-outline-secondary btn-block" id="paste-sequence"><i class="fas fa-paste"></i> Paste FASTA</button>
            </div>
          </div>
          <div class="row pad-top">
            <div class="col-lg-7 offset-lg-1 hide-when-plotting pad-bottom">
              <button type="button" class="btn btn-outline-secondary btn-block hide-when-plotting" id="load-example"><i class="fas fa-dna"></i> Load an example file</button>
            </div>
            <div class="col-lg-3 hide-when-plotting">
              <a href="{{url_for('static',  filename='files/hbb.fna')}}" class="btn btn-outline-secondary btn-block hide-when-plotting" id="download-example"><i class="fas fa-file-download"></i> Download example file</a>
            </div>
          </div>
        </div>
      </div>

      <!-- the control section -->
      <div class="row bg-light border pad-bottom rounded-bottom border-top-0" id="controls">

        <!-- the viz method -->
        <div class="container pad-top pad-bottom hide-when-plotting">
          <!-- control the viz method -->
          <div class="row" id="method">
            <div class="row center">
              <label for="method">Visualization Method</label>
            </div>
          </div>
          <div class="row center">
            <div class="btn-group btn-group-toggle center" name="method" data-toggle="buttons">
              <label class="btn btn-outline-secondary active" data-toggle="tooltip" data-placement="top" title="(Recommended) Shows variations in GC-content and supports non-ATGC bases.">
                <input type="radio" name="method" id="squiggle" autocomplete="off" checked>Squiggle
              </label>
              <!-- <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="As, Ts, Cs, and Gs as up, down, left and right, respectively. Cyclic. No support for non-ATGC bases.">
                <input type="radio" name="method" id="gates" autocomplete="off">Gates
              </label> -->
              <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Bases plotted along a unit vector. <var>x</var>-coordinates do not map to base position. No support for non-ATGC bases.">
                <input type="radio" name="method" id="yau" autocomplete="off">Yau
              </label>
              <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Same as Yau but projected such that all vectors have lengths in the <var>x</var>-axis of 1 (so that <var>x</var>-coordinates are the same as base positions). No support for non-ATGC bases.">
                <input type="radio" name="method" id="yau-bp" autocomplete="off">Yau-BP
              </label>
            </div>
          </div>
        </div>

        <!-- viz controls during plotting -->
        <div class="container center show-when-plotting" id="mode">
          <div class="row">
            <div class="col-lg-4 pad-bottom">
              <div class="row" id="mode">
                <div class="row center">
                  <label for="method">Legend Mode</label>
                </div>
              </div>
              <div class="row center">
                <div class="btn-group btn-group-toggle center" name="mode" data-toggle="buttons">
                  <label class="btn btn-outline-secondary active" data-toggle="tooltip" data-placement="top" title="(Recommended) Automatically decide between file and sequence mode.">
                    <input type="radio" name="mode" id="auto" autocomplete="off" checked>Auto
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" title="Plot each file in its own color.">
                    <input type="radio" name="mode" id="file" autocomplete="off">File
                  </label>
                  <label class="btn btn-outline-secondary" data-toggle="tooltip" data-placement="top" data-html="true" title="Plot each sequence in its own color.">
                    <input type="radio" name="mode" id="sequence" autocomplete="off">Sequence
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-4 pad-bottom">
              <div class="row justify-content-center" id="mode">
                <div class="col text-center">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <label for="method">Options</label>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" id="remove" data-toggle="tooltip" data-placement="top" title="Remove files"><i class="fas fa-trash"></i></button>
                        <button type="button" class="btn btn-outline-secondary" id="changeTitle" onclick="showTitleModal()" data-toggle="tooltip" data-placement="top" title="Change title and subtitle"><i class="fas fa-bars"></i></button>
                        <div class="btn-group " role="group">
                          <button id="export" type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-file-export"></i>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="export">
                            <a class="dropdown-item" href="#" onclick="chart.print()"><i class="fas fa-print"></i> Print chart</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" id="png"><i class="fas fa-file-image"></i> Download PNG image</a>
                            <a class="dropdown-item" href="#" id="jpeg"><i class="fas fa-file-image"></i> Download JPEG image</a>
                            <a class="dropdown-item" href="#" id="pdf"><i class="fas fa-file-pdf"></i> Download PDF document</a>
                            <a class="dropdown-item" href="#" id="svg"><i class="fas fa-file-code"></i> Download SVG vector image</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-4 pad-bottom">
              <div class="row justify-content-center" id="mode">
                <div class="col text-center">
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <label for="method">Zoom <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" data-html="true" title="Drag on a region to zoom in and click below to zoom out. Loading the data may take a few moments."></i></label>
                    </div>
                  </div>
                  <div class="row justify-content-center">
                    <div class="col text-center">
                      <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-secondary" id="zoom-out" onclick="zoom(0.5)"><i class="fas fa-search-minus"></i></button>
                        <button type="button" class="btn btn-outline-secondary" id="reset-zoom" onclick="resetChart()">Reset</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!-- the about section -->
      <div class="row pt-5">
        <div class="col">
          <h2 id="about">About</h2>

          <p>Raw DNA sequences, which consist of long strings of letters, are
            hard for humans to make sense of at a glance. However, there is
            significant biological meaning contained within them. To reveal this
            meaning, <a href="#citation">a number of methods</a> have been
            proposed to convert raw DNA sequences into two-dimensional
            visualizations. This website allows you to try several of these
            methods out on your data with a high-performance parallel-computing
            backend enabling genome-scale visualization.</p>

          <p>Amet mauris commodo quis imperdiet massa tincidunt nunc pulvinar.
            Vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Ut
            eu sem integer vitae justo eget. Aliquam faucibus purus in massa
            tempor nec. Leo urna molestie at elementum eu facilisis. Risus sed
            vulputate odio ut enim. Ut tristique et egestas quis ipsum suspendisse
            ultrices. Vitae sapien pellentesque habitant morbi tristique senectus
            et netus et. Enim tortor at auctor urna nunc id. Etiam non quam lacus
            suspendisse faucibus interdum posuere lorem ipsum.</p>

          <p>Purus non enim praesent elementum facilisis. Lacinia quis vel eros
            donec ac. Purus sit amet volutpat consequat mauris. Libero enim sed
            faucibus turpis in eu mi bibendum. Iaculis eu non diam phasellus. Sit
            amet aliquam id diam maecenas ultricies mi. Pretium vulputate sapien
            nec sagittis. Augue ut lectus arcu bibendum. Quam pellentesque nec nam
            aliquam sem et tortor consequat. Aliquam ultrices sagittis orci a
            scelerisque purus semper eget. Sed euismod nisi porta lorem mollis.
            Augue lacus viverra vitae congue. Enim diam vulputate ut pharetra.
            Elit sed vulputate mi sit amet mauris commodo.</p>

          <h2 id="lab41">A Lab41 Project</h2>
          <p><a href="https://iqt.org">In-Q-Tel</a> (IQT) is the not-for-profit
            strategic investor for the Central Intelligence Agency and the broader
            U.S. Intelligence Community (IC). Founded in 1999, IQT connects
            government, startups, and the
            venture capital community to accelerate innovation to further the IC mission. </p>
          <div class="d-none d-md-block">
            <a href="https://lab41.org"><img src="{{ url_for('static',
              filename='images/Lab41.png') }}" height="100vh" class="float-right"></a>
          </div>
          <div class="d-block d-md-none px-4 pb-3 mx-center">
            <a href="https://lab41.org"><img src="{{ url_for('static',
              filename='images/Lab41.png') }}" width="100%"></a>
          </div>


          <p>IQT Labs represent strategic initiatives established to explore new
            and disruptive technologies, uncover solutions, and demonstrate the
            art of the possible in a variety of technology areas. <a href="https://lab41.org">Lab41</a> is a Silicon Valley research lab
            where experts from the IC, academia, industry, and IQT come together
            to gain a better understanding of how to work with – and ultimately
            use – data analytics.</p>

          <p>Lab41 shares everything openly on <a href="https://github.com/Lab41">GitHub</a> and talks it up on <a href="https://gab41.lab41.org">Gab41</a>. Interested in our
            bioinformatics research or working with us? <a href="mailto:info@lab41.org?subject=Reaching%20Out%20About%20Bioinformatics">We’d
              love to hear from you.</a></p>

          <h2 id="architecture">Architecture</h2>

          <p>DNAvisualization.org is built on an entirelesly serverless
            architecture. Due to the inherently parallelizable nature of DNA
            sequence transformation (the transformation of one sequence has no
            effect on the transformation of another), this design yields a
            significant performance increase at a lower cost compared to a
            traditional architecture.</p>

          <p>This website uses <a href="http://flask.pocoo.org">Flask</a> as a
            lightweight Python web framework and <a href="https://www.zappa.io">Zappa</a> to automate deployment to Amazon
            Web Service's (AWS) <a href="https://aws.amazon.com/lambda">Lambda</a>
            serverless computing platform. Additionally, it takes advantace of <a href="https://aws.amazon.com/s3/"> AWS S3</a> for serverless data
            storage and querying. All stored data are automatically deleted after 24 hours.</p>

          <p>For a full overview of the architecture, take a look at the <a href="https://en.wikipedia.org/wiki/Sequence_diagram">sequence diagram</a> below:</p>

          <div class="mermaid text-center">
            {% include "test.mmd" without context %}
          </div>

          <h2 id="citation" class="pt-2">Citation</h2>

          <p>If you use this website in your research, please cite is as:</p>
          <ul>
            <li>Lee B. D., Timony M. A., & Ruiz P. (2019). <a href="https://DNAvisualization.org">DNAvisualization.org.</a></li>
          </ul>
          <p>Additionally, please be sure to cite the visualization method you
            used. Click below to display the citation information for each method:</p>
          <details>
            <summary>Squiggle</summary>
            <p>If you use the Squiggle visualization method, please cite the
              following paper <a href="https://academic.oup.com/bioinformatics/advance-article/doi/10.1093/bioinformatics/bty807/5104938?guestAccessKey=306f0370-1281-428b-aa8a-757d3c49d801">(full
                text)</a>:</p>
            <ul>
              <li> Lee, B. D. (2018). Squiggle: a user-friendly two-dimensional DNA sequence
                visualization tool. <span class="font-italic">Bioinformatics</span>. doi:<a href="https://doi.org/10.1093/bioinformatics/bty807">10.1093/bioinformatics/bty807</a>.</li>
            </ul>
          </details>
          <details>
            <summary>Yau</summary>

            <p>If you use the Yau visualization method, please cite the
              following paper <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC162336/">(full
                text)</a>:</p>
            <ul>
              <li>Yau, S. S., Wang, J., Niknejad, A., Lu, C., Jin, N., & Ho, Y.
                K. (2003). DNA sequence representation without degeneracy. <span class="font-italic">Nucleic acids research, 31</span>(12),
                3078-80.</li>
            </ul>
          </details>
          <details>
            <summary>Yau-BP</summary>
            <p>If you use the Yau-BP visualization method, please cite the
              following papers:</p>
            <ul>
              <li> Lee, B. D. (2018). Squiggle: a user-friendly two-dimensional
                DNA sequence visualization tool. <span class="font-italic">Bioinformatics</span>. doi:<a href="https://doi.org/10.1093/bioinformatics/bty807">10.1093/bioinformatics/bty807</a>.</li>
              <li>Yau, S. S., Wang, J., Niknejad, A., Lu, C., Jin, N., & Ho, Y.
                K. (2003). DNA sequence representation without degeneracy. <span class="font-italic">Nucleic acids research, 31</span>(12),
                3078-80.</li>
            </ul>
          </details>
          <h2 id="contact" class="pt-2">Contact</h2>

          <p>Have an idea for another way to turn a DNA sequence into a
            two-dimensional visualization? Let us know over on the <a href="https://github.com/Lab41/squiggle"> Squiggle repository</a>.
            (DNAvisualization.org uses a stripped-down version of the Squiggle
            library to transform sequences.)
          </p>

        </div>
      </div>
    </div><!--  /container -->
  </main>

  <footer class="footer py-3 bg-light">
    <div class="container text-center">
      <span class="text-muted">&copy;2018 IQT Labs LLC, a wholly owned research venture of <a class="text-muted" href="https://iqt.org">In-Q-Tel, Inc.</a> This content is released under <a class="text-muted" target="_blank" href="https://github.com/Benjamin-Lee/DNAvisualization.org/blob/master/LICENSE">
          the Apache 2.0 License.</a></span>
    </div>
  </footer>

  <!-- placed at bottom to speed page loading -->
  <!-- polyfill first -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <!--  bootstrap requirements -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <!-- Highcharts -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/boost.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>

  <!-- other utilities -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.11/lodash.min.js" integrity="sha256-7/yoZS3548fXSRXqc/xYzjsmuW3sFKzuvOCHd06Pmps=" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/mermaid@8.0.0/dist/mermaid.min.js"></script>
  </script>
  <!-- locally hosted scripts -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/filereader.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/xxhash.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/reformat.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootbox5-beta.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dragster.js') }}"></script>


  <!-- last, load the JS for the page -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/hbb.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/home.js') }}"></script>


</body>

</html>